@import '../../scss/variables';

.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  color: $light-color;
  border-radius: 50%;
  border: 2px solid currentColor;
  background-color: transparent;
  cursor: pointer;
  transition: opacity $transition-opt, color $transition-opt;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.hiden {
  opacity: 0;
}
