@import '../../scss/variables';

.item {
  @media screen and (max-width: $tablet - 1px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.name {
  font-weight: 700;
  margin-bottom: 5px;
}
.character {
  font-style: italic;
}
