@import '../../scss/variables';
.block {
  list-style: none;
}
.item {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
.link {
  color: #000;
  text-decoration: none;
  &:visited {
    color: $third-bgc;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
